<h1><%- title %></h1>

<!-- Mostrar mensajes flash de éxito o error -->
<% if (flashMessages.success) { %> <!-- Mostrar mensaje de exito -->
  <div class="msg-success"><%= flashMessages.success %></div>
<% } %>
<% if (flashMessages.error) { %> <!-- Mostrar mensaje de error -->
  <div class="msg-error"><%= flashMessages.error %></div>
<% } %>

<!-- Formulario para agregar nueva clasificación -->
<form action="/inv/add-classification" method="POST">
  <label for="classification_name">Classification Name:</label>
  <!-- Usa required para que el usuario no pueda enviarlo vacío.
  Campo de entrada:  Permito solo letra y numero (pattern="^[a-zA-Z0-9]+$")-->   
  <input   
    type="text" 
    id="classification_name" 
    name="classification_name" 
    pattern="^[a-zA-Z0-9]+$" 
    title="Only letters and numbers are allowed. No spaces or special characters." 
    required 
  />
  <button type="submit">Add Classification</button>
</form>
