<body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
        <p>
        Sorry, but it seems like the page you're looking for doesn't exist or has been moved. We know how frustrating this can be.
        Don't worry, you can easily return to our <a href="/views/index.ejs">homepage</a> or check out some of the other sections on our website. If you need any help, we're just a click away!
        </p>
      <div><%= message %></div>
      <p>
        <em>"404 Error: The page you're seeking is elusive, but we're here to guide you."</em>
      </p>
    </main>
  </body>